@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: urbanist;
}

#navlinks {
    animation : translate .5s;
}

@keyframes translate {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}